*{
    width: 600px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
body{
    font-style: normal;
    font-family: sans-serif;
}
.navigation{
    flex-direction: row;
    justify-content: space-around;
    display: flex;
    padding: 0;
    margin: 0;
}
h1{
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1em;
}
li{
    font-size: 24px;
    color: white;
    list-style: none;
    text-align: center;
    
}
header{
    background-color: #badc58;
    background-size: 100%;
    height: 5em;
}
.li1, .li3{
    position: relative;
    top: 24px;
}
.li2{
    position: relative;
    top: 10px;
    padding-left: 2em;
    padding-right: 2em;
}
.li3{
    padding-right: 1em;
}
.home_icon{
    position: relative;
    top: 1em;
    width: 1.5em;
}
.cat_pavlik{
    color: #7b58dc;
    font-weight: bold;
    margin-top: 1.5em;
    font-size: 1.5em;
}
