*{
    width: 600px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
body{
    font-style: normal;
    font-family: sans-serif;
}
.navigation{
    flex-direction: row;
    justify-content: space-around;
    display: flex;
    padding: 0;
    margin: 0;
}
h1{
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1em;
}
li{
    font-size: 24px;
    color: white;
    list-style: none;
    text-align: center;
    
}
header{
    background-color: #badc58;
    background-size: 100%;
    height: 5em;
}
.li1, .li3{
    position: relative;
    top: 24px;
    color: white;
}
.li1{
    margin-right: 4em;
    font-size: 20px;
}
.li2{
    position: relative;
    top: 10px;
    text-decoration: none;
    color: white;
    right: 1.6em;
    font-size: 20px;
}
.li3{
    padding-right: 1em;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.home_icon{
    position: relative;
    top: 1em;
    width: 1.5em;
}
.cat_pavlik{
    color: #7b58dc;
    font-weight: bold;
    margin-top: 1.5em;
    font-size: 1.5em;
}
.img_pavlik{
    width: 19em;
    position: relative;
    right: 2em;
    top: 1em;
}
.main{
    display: flex;
}
.text_main{
    position: relative;
    top: 2.4em;
    text-align: justify;
    padding: 0 0.6em;
    right: 1em;
    font-size: 17px;
}
.nav_buy{
    position: relative;
    top: 1em;
    font-size: 2em;
    background-color: #f0932a;
    color: white;
    height: 2em;
    padding: auto;
    margin: auto;
    border-radius: 10px;
}
.text_buy{
    position: relative;
    top: 15px;
    left: 7em;
    text-decoration: none;
    display: inline-block;
    color: white;
}